<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://115.28.77.140/FiberAssistant.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true/><key>url</key><string>应用icon地址</string></dict><dict><key>kind</key><string>full-size-image</string><key>needs-shine</key><true/><key>url</key><string>应用大icon地址</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.gpdi.app.fiber</string><key>bundle-version</key><string>1.2.0</string><key>kind</key><string>software</string><key>subtitle</key><string>掌上资源</string><key>title</key><string>掌上资源</string></dict></dict></array></dict></plist>